<include file="Index/header"/>
<body id="body">
<!--轮播图部分-->
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators carouselInd">
        <li data-target="#myCarousel" data-slide-to="0" class="active carouselLi"></li>
        <volist name="cars" id="car">
            <li data-target="#myCarousel" data-slide-to="1" class="carouselLi"></li>
        </volist>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <volist name="carousels" id="carousel">
                <img src="{$carousel.carouselicon|getUrl}" class="carPto" alt="{$carousel.carouseldesc}">
            </volist>
        </div>
        <volist name="cars" id="car">
            <div class="item">
                <img src="{$car.carouselicon|getUrl}" class="carPto" alt="{$car.carouseldesc}">
            </div>
        </volist>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
</div>
<!--导航栏部分-->
<div class="container" id="container">
    <div class="row navbar">
        <volist name="categorys" id="category">
            <div class="col-xs-3">
                <!-- TUDO a标签 图片居中 -->
                <div class="nav">
                    <a href="{:U('Category/index',array('id'=>$category['id']))}">
                        <img src="{$category.categoryicon|getUrl}" class="cateImg" alt="{$category.categoryname}">
                    </a>
                </div>
                <div class="cdesc">{$category.categoryname}</div>
            </div>
        </volist>
    </div>
</div>
<!--特价and爆款-->
<div class="bao_te">
    <div class="te"><a href="{:U('Ware/discount')}"><img src="__PUBLIC__/Image/tejia.png">&nbsp;特价促销</a></div>
    <div class="bao"><a href="{:U('Ware/hotter')}"><img src="__PUBLIC__/Image/baokuan.png">&nbsp;爆款推荐</a></div>
</div>
<!--新品上市-->
<div class="container" id="container1">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 new"><img src="__PUBLIC__/Image/hengxian.png">&nbsp;新品上架&nbsp;<img
                src="__PUBLIC__/Image/hengxian.png"></div>
        <div class="col-xs-3 more"><a href="{:U('Ware/more')}" class="morePro">更多&nbsp;<img
                src="__PUBLIC__/Image/more.png" class="gengduo"></a></div>
    </div>
    <div class="row">
        <volist name="wares" id="ware">
            <div class="col-xs-4 newpro">
                <a href="{:U('Ware/index',array('id'=>$ware['id']))}">
                    <img src="{$ware.warecover|getUrl}" class="proImg" alt="{$ware.waredesc}">
                </a>
                <div class="desc">{$ware.waredesc}</div>
                <div class="shoucang">
                    <div class="row">
                        <div class="col-xs-3"><img src="__PUBLIC__/Image/shoucang.png" attr-id="{$ware.id}" class="scPto ware-detail"></div>
                        <div class="col-xs-9">{$ware.colltimes}人已收藏</div>
                    </div>
                </div>
            </div>
        </volist>
    </div>
</div>
<div class="bot">
    <div class="leftBot">
        <div class="leftTop"><img src="__PUBLIC__/Image/amailogo.png" class="amai">阿麦科技</div>
        <div class="leftBottom">amailive.com</div>
    </div>
    <div class="centerBot"><img src="__PUBLIC__/Image/fengexian.png" class="fenggexian"></div>
    <div class="rightBot">技术支持</div>
</div>
</body>
<script>
    var SCOPE = {
        'coll_url' : '{:U("collect")}',
    }
</script>
<script type="text/javascript">
//    var widthDev = document.documentElement.clientWidth;
    var widthDev = $(window).innerWidth();
    var heightDev = widthDev / 1.5;
    var carPto = $(".carPto");
    carPto.css({
        width:widthDev,
        height:heightDev
    });

    var navWH = $(".nav").width();

    var cateImgWH = $(".cateImg");
    cateImgWH.attr('width', navWH);
    cateImgWH.attr('height', navWH);

    var width = $(".newpro").width() * 0.9;
    var height = width * 1.5;
    var imgWH = $(".proImg");
    imgWH.attr('width', width);
    imgWH.attr('height', height);
    var desc = $(".desc");
    desc.attr('width', width);
</script>
</html>